$primary: #00468E;
$secondary: #F06400;

$white: #FFFFFF;

$neutral-900: #2B2E30;
$neutral-800: #3D4347;
$neutral-700: #4C555C;
$neutral-600: #5B6971;
$neutral-500: #677882;
$neutral-400: #7F8B93;
$neutral-300: #97A0A5;
$neutral-200: #B7BABC;
$neutral-100: #D5D5D5;
$neutral-50: #EEEEEE;

$footer: #939393;
$footer-background: #FAFAFA;

$error: #FF4949;
$warning: #E8A700;
$success: #00C08C;
$info: #26A8E0;