.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $primary;
	border-radius: 0.75rem;
	height: 40px;
	font-size: 0.875rem;
	font-weight: 600;
	color: $white;
	margin: 0 1.5rem 1rem 1.5rem;
	cursor: pointer;

	&.secondary {
		background-color: $white;
		border: 1px solid $primary;
		box-sizing: border-box;
		color: $primary;
	}

	&.disabled {
		opacity: 0.4 !important;
		background-color: gray !important;
	}

	&:hover {
		opacity: 0.8;
	}
}

.text {
	&-black {
		color: black;
	}

	&-blue-1 {
		color: $primary;
	}

	&-semibold {
		font-weight: 600;
	}

	&-bold {
		font-weight: 700;
	}
}

.shadow {
	&-lg {
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
			0 4px 6px -2px rgba(0, 0, 0, 0.05);
	}
}

.m {
	&-0 {
		margin: 0;
	}
}

::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar-indicator {
	overflow: auto;
	-ms-overflow-style: none; /* IE 11 */
	scrollbar-width: none; /* Firefox 64 */
}

.rotate-180 {
	-webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg); /* FF */
	-o-transform: rotate(180deg); /* Opera */
	-ms-transform: rotate(180deg); /* IE9 */
	transform: rotate(180deg);
}
